{% extends 'base2.html' %}
{% load static %}

<!-- 동환 -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/samples.css' %}" />
{% endblock %}

{% block content %}

<body>
    <ul class="nav justify-content-center" style="background-color: #f5cd79;">
        <li class="nav-item">
            <a class="nav-link" style="color: black" href="{% url 'samples' %}">BROWSE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black" href="{% url 'sample_like' %}">LIKES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: black" href="{% url 'sample_download' %}">MY DOWNLOADS</a>
        </li>
    </ul>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div id="no-likes">
                    <section class="jumbotron text-center">
                        <div class="container">
                            <h1>NO LIKES</h1>
                            <p class="lead text-muted"></p>
                            <p>
                                <a href="{% url 'samples' %}" class="btn btn-warning my-2">LOOK AROUND SAMPLES</a>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>

</body>
{% endblock %}